<p>event-per-row works!</p>
Having {{items?.length}} elements

<button *ngIf="!showItems" (click)="showItems = true">Show items</button>
<button *ngIf="showItems" (click)="showItems = false">Hide items</button>
<div class="list">
    <ng-container *ngIf="showItems">
        <div *ngFor="let item of items" (click)="onClick($event, 'left-click', item)"
            (dblclick)="onClick($event, 'double-left-click', item)"
            (contextmenu)="onClick($event, 'right-click', item)">{{item}}</div>
    </ng-container>
</div>

<pre>{{output}}</pre>
